.btn_c {
  padding-top: 21px;
}

.btn {
  display: flex;
  margin-bottom: 12px;
  padding: 16px 15px;
  padding-bottom: 15px;
  padding-right: 0;
  color: var(--marine-blue);
  width: 95%;
  background-color: white;
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.btn_checked {
  border: 1px solid var(--marine-blue);
  background-color: var(--alabaster);
}

.img {
  margin-right: 13px;
}

.span {
  padding-top: 1px;
  text-align: left;
}

.p {
  font-size: 14px;
}

.switch_c {
  margin-top: 24px;
  margin-bottom: 17px;
  padding: 11px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  background-color: var(--alabaster);
}

.sp {
  font-size: 15px;
}

.sp_one {
  color: var(--marine-blue);
}

.py {
  margin-top: 3px;
  font-size: 12px;
  color: var(--marine-blue);
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.s_input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marine-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.s_input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

.btn_btn {
  margin-top: 24px;
}

.input {
  display: none;
}

.plan_ctn {
  margin-left: 100px;
  margin-top: 34px;
}

@media screen and (min-width: 1024px) {
  .form {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  .btn {
    display: block;
    width: 121px;
    padding-bottom: 12px;

  }

  .img {
    padding-top: 3px;
    margin-bottom: 40px;
  }

  .p {
    padding-top: 0px;
  }

  .switch_c {
    margin-top: 21px;
  }

  .btn_btn {
    margin-top: 101px;
  }

  .sp {
    font-weight: 500;
  }


}
