.container {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 343px;
    z-index: 15;  
}

.card {
    position: relative;
    top: -73px;
    padding: 28px 24px;
    padding-bottom: 20px;
    margin-bottom: -73px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.3);
    z-index: 15; 
}

.container_desktop {
    display: flex;
    margin: auto;
    padding: 16px 0px;
    width: 940px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 15px -15px rgba(0,0,0,0.3);
}
