.header_mobile {
    padding-top: 32px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    background-image: url('./images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

.p {
    padding: 5px 0px;
    padding-left: 2px;
    width: 29px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

.active {
    background-color: var(--light-blue);
    color: black
}

.nav_container {
    margin-left: 16px;
    padding: 36.5px 32px;
    width: 210px;
    height: 495px;
    background-image: url('./images/bg-sidebar-desktop.svg');

}

.item_container {
    margin-bottom: 24.7px;
    display: flex;
    align-items: center;
}

.info {
    margin-left: 16px;
}

.step {
    font-size: 12px;
}

.text {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;

}

